body {
    font-size: 15px;
    font-family: Outfit, sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 200px auto;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

#title {
    font-weight: 700;
    font-size: 1.25rem;
    color: #000;
}

p {
    font-weight: 400;
    font-size: 0.9375rem;
    color: hsl(220, 15%, 55%);
}

footer {
    font-size: 0.6875rem;
    text-align: center;
}

/* Media Queries */

/* For mobile phones: */
@media (max-width: 375px) {
    .container {
        width: 90%;
    }
}

/* For tablets: */
@media (min-width: 376px) and (max-width: 1439px) {
    .container {
        width: 300px;
    }
}

/* For desktops: */
@media (min-width: 1440px) {
    .container {
        width: 300px;
    }
}